.footer {
    background-color: 	#565656;
    padding: 0.9375rem 1.875rem;
    justify-content: space-around;
    color: #f99d30;    
    border-radius: 8px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.variacao{
    width: 1000px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
}

.active-route {
    border:2px solid #ded6fb;
    border-radius: 10px;
    outline: none;
}

.nav-item a {
    color: #f99d30 ;
}

.active-route, .navbar-brand {
    color: #565656 !important;
}

.choose{
    flex-direction: column;
    background-color: 	#eeebeb;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    overflow-y:auto;
    max-height:800px;
    min-height:500px;
}

h1,h2{
    padding: 5px;
}

.iniciar{
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
    border-radius: 10px;
    background-color: #f99d30;
    border-color: #f99d30;
 

}



