<div >
	<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
		<a style="outline: none;" class="navbar-brand nav-link">Market Stock</a>
  </nav>
  
  <div class="choose">
    <h1 class="d-flex justify-content-center ">
      Olá, Bem vindo(a)!</h1>
      <h1 class="d-flex justify-content-center ">
      Aqui você pode descobrir a Variação da Ação AZUL(AZUL4) nos últimos 30 pregões</h1>
      
    <h2 class="d-flex justify-content-center ">
      Clique no Botão Iniciar</h2>

     
    <div>
      <button  type="button" class="iniciar" (click)="iniciar()" > Iniciar
      </button>
    </div>

    <div *ngIf="iniciarAzul">
      <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Dia</th>
            <th scope="col">Data</th>
            <th scope="col">Valor</th>
            <th scope="col">Variação em relação a D-1</th>
            <th scope="col">Variação em relação a primeira data</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let variacao of variacoes">
            <th scope="row">{{ variacao.dia}}</th>
            <td>{{ variacao.data * 1000| date: 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{ variacao.valor }}</td>
            <td>{{ variacao.variacao_D1}}%</td>
            <td>{{ variacao.variacao_primeira}}%</td>
            
          </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshVariation()">
          </ngb-pagination>
        
          <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshVariation()">
            <option [ngValue]="1">2 items per page</option>
            <option [ngValue]="3">4 items per page</option>
            <option [ngValue]="5">6 items per page</option>
          </select>
        </div>	
    </div>
  </div>
	

	<div class=" d-flex justify-content-center p-3 mt-3 footer">
		Developed by Gabriela Santos de Lima
	</div>
</div>
